{%  extends "layout.html" %}
{% block title %}Notifications{% endblock title %}
{% block content %}
    <div class="notifications">
        <h2>New notifications:</h2>
        {% for notification in notifications %}
        {% if not notification.seen %}
        <div class="notification-box">
            <p><a href="{{ url_for('profile.profile_page', id=notification.notifier_id) }}">{{ notification.username }}</a> {{ notification.notification_message }} <a href="{{ url_for('product.product_page', id=notification.product_id) }}"><strong>{{ notification.label }}</strong></a></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="notifications">
        <h2>Old notifications:</h2>
        {% for notification in notifications %}
        {% if notification.seen %}
        <div class="notification-box">
            <p><a href="{{ url_for('profile.profile_page', id=notification.notifier_id) }}">{{ notification.username }}</a> {{ notification.notification_message }} <a href="{{ url_for('product.product_page', id=notification.product_id) }}"><strong>{{ notification.label }}</strong></a></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}