{%  extends "layout.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
        <div class="forms-container">
            <div class="special-padding">
                <h2>Login</h2>
                <p style="color: #797979;">If you are not a member, you can make an account</p>
            </div>
        <hr>
            <div class="special-padding">
                <form method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required autocomplete="off" value="{{ request.form['username'] }}">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required autocomplete="off" value="{{ request.form['password'] }}">
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
{% endblock %}